@font-face {
  font-family: "Norse Bold";
  src: url("https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  /* padding: 5px; */
  padding-bottom: 20px;
  line-height: 1.9rem;
}

em {
  font-style: italic;
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-image: url("fern.jpg");
  background-size: cover;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 200px;
  padding: 15px;
}

.banner img {
  height: 120px;
}

.banner h1 {
  font-family: "Norse Bold";
  font-size: 7rem;
  color: #FFFFFF;
  margin-top: 28px
}

.img-attribution {
  margin-top: auto;
  padding: 5px;
  text-align: right;
  color: #d1e0c4;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.4);
}

.img-attribution a {
  color: #596D48;
  text-decoration: none;
}

.right {
  flex: 3;
}

.form-intro {
  margin-top: 207px;
  max-width: 750px;
  padding-left: 50px;
}

.signup-form {
  /* border: 1px solid red; */
  box-shadow: 0 -4px 5px -5px #D6D9DC;
}

.form-header {
  padding-top : 20px;
  padding-left: 50px;
}

.form-divider {
  display: flex;
  gap: 50px;
  /* background-color: #F6F7F8; */
  /* border: 1px solid #D6D9DC; */
  /* border-radius: 3px; */
  box-shadow: 0 10px 5px -5px #D6D9DC;
  padding: 15px 50px;

  /* margin: 0 0 40px 0; */
}

.form-column {
  /* width: 25%; */
  flex: 1;
  max-width: 280px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='tel'],
.form-row input[type='password'],
.form-row input[type='email'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}

.form-row label {
  font-size: 11px;
  margin-bottom: 4px;
}

.form-footer {
  padding: 30px 40px
}

.form-footer button {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #596D48;
  border: none;
  border-radius: 10px;
  padding: 15px 40px;
  margin-bottom: 8px;
}

.form-footer button:hover {
  background-color: #a9ba9a;
}

.form-footer button:active {
  background-color: #7c8a6f;
}

.form-footer p {
  font-size: 1rem;
  font-weight: 100;
}

.form-footer .existing-login{
  color: #596D48;
  font-weight: bold;
  font-style: normal;
}